<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<center><h1>Welcome to the Administration Page</h1><%= image_tag('useradmin.png', :size => '200x200') %></center>

<p class="w3-button w3-black"><%= link_to "Game Data Maintenance", games_path %></p><br>

<p class="w3-button w3-black"><%= link_to "Show Administrator Page", gamesout_outgames_path %></p><br>

<p class="w3-button w3-black"><%= link_to "Return to Home Page ", root_path %></p>


