<center><h1>Welcome to the Gamestore</h1></center>


<center> <%= image_tag('vgwallpaper.png', :size => '1050x350') %></center>


<h2><p>Here is where you can buy games of all kinds</p></h2>


<p class="w3-button w3-black"><%= link_to "See our awesome games", gamesout_outgames_path %></p><br>

<!--<p class="w3-button w3-black"><%= link_to "Go to Administration Page", maintenance_mainview_path %>-->

<img src= "/assets/useradmin.png" alt="adminpage" align = "right" width= "55" height = "55" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="10,14,97,82" <%= link_to "", sessions_new_path %> </map></p>


